<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="author" content="Harraps" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="css/style.css" rel="stylesheet" />
        <script src="js/script.js"></script>
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="#">Home    </a></li>
                <li><a href="#">Sections</a></li>
                <li><a href="#">Chat    </a></li>
                <li><a href="#">Identify</a></li>
            </ul>
        </div>
        <div class="page">
            <div class="container">

                <div class="panel" style="text-align: center;">
                    <h1>WELCOME ON MINIFORUM</h1>
                    <p>minimalist forum for lovers of mini servers</p>
                </div>

                <div class="panel post">
                    <div class="user">
                        <div class="name">USER</div>
                        <div class="date">2015-10-08</div>
                        <div class="date">12:45:39  </div>
                    </div>
                    <div class="text">
                        Hello !<br/>
                        Halo !<br/>
                        Hola !<br/>
                        Bonjour !<br/>
                    </div>
                </div>

                <div class="panel section-list">
                    <ul>
                        <li>
                            <a href="#" class="clearfix section">
                                <div class="name">Section name</div>
                                <div class="info">Last Thread</div>
                                <div class="info">2015-10-08 12:45:39</div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="clearfix section">
                                <div class="name">Section name</div>
                                <div class="info">Last Thread</div>
                                <div class="info">2015-10-08 12:45:39</div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="clearfix section">
                                <div class="name">Section name</div>
                                <div class="info">Last Thread</div>
                                <div class="info">2015-10-08 12:45:39</div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="panel thread-list">
                    <ul>
                        <li>
                            <a href="#" class="clearfix thread pinned">
                                <div class="name">Thread 1</div>
                                <div class="info">Titi 2015-10-08 12:45:39</div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="clearfix thread pinned closed">
                                <div class="name">Thread 1</div>
                                <div class="info">Momo 2015-10-08 12:45:39</div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="clearfix thread closed">
                                <div class="name">Thread 1</div>
                                <div class="info">Pierre 2015-10-08 12:45:39</div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="clearfix thread">
                                <div class="name">Thread 1</div>
                                <div class="info">Jean 2015-10-08 12:45:39</div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div>

                </div>

            </div>
        </div>
    </body>
</html>
